body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://i.postimg.cc/cC7Wdx8J/475978-red-and-black-anime-artwork-wallpaper.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.animes {
  margin: 10px;
  width: 200px;
  display: inline-block;
}

#listaAnimes img {
  margin: 10px;
  max-height: 250px;
}

.form-wrapper {
  margin: 0 0 15px;
}
.form-wrapper input {
  display: inline;
  margin: 0 auto;
  padding: 10px 15px;
}

.form-wrapper button {
  border: 0;
  color: white;
  background-color: #da1e26;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.form-wrapper button:hover {
  opacity: 0.8;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

.nomeAnimes {
  width: 200px;
  color: white;
}

.animes p {
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 170px;
  margin: 15px 1px 15px 15px;
}
